#title {background-color:#fc8210;}

body {font-family: 'Montserrat', sans-serif;
      font-size: 1.2em;
      line-height: 1.5; }

.navi-bar {padding:8px 30px 8px 30px;}

.nav-item {margin:0 5px;}

h1 {font-family: 'Acme', sans-serif;
    margin:25px 0 10px;
    font-size: 3.5rem; color:#ffff; }

h5 {font-weight: bold; text-decoration:underline; color:black;}

.tagline {margin:25px 0 50px;
   font-size:1.5rem; color:#ffff;  }

.container-fluid {padding:50px 0; text-align: center;  }
.Intro {background-image:url("https://wallpapercave.com/wp/wp2845212.jpg");}

.bg-navig {background-color:#ffff; font-size:1.1em; }

.logo-name {font-variant: inherit; font-size-adjust:inherit; font-weight:bold; font-style: italic;}
.logo {height:60px; width:65px; border-radius:100%; margin-right:15px; }


.prod {margin:5px auto 5px auto; text-align:center; padding-top:40px; padding-bottom:40px;
    font-size: 2.5rem;font-weight:500; text-decoration:inherit; background-color:#fc8210;}

.prd-details {margin:10px auto 50px auto;}
.products_image {margin:auto 0 auto 0; border-radius:30%;}

.im-sz {background-color: grey; margin:0 auto 0 auto; padding:0; height:auto; width:auto; max-width: 100%;}

.bt-sty {margin:0 5px 50px 5px;}

.bg-op {background: rgba(207, 209, 212, 0.8); color:black; width:50%; margin:20px auto 20px auto; font-size-adjust: auto;}
.bg-op1 {color:black; margin:10px auto 10px auto; }

.prd-1 {margin:40px auto 20px auto; text-align: center; background-color:#f7f7f7; }
.prd-2 {margin:25px auto 5px auto; font-family: 'Montserrat', sans-serif; padding:2% 4%; }
.prd-3 {font-family: 'Montserrat', sans-serif; font-weight: bold; color:#fc8210;}
.prd-3:hover {color:#ff5200; }
.prd-4 {color:#8f8f8f;}
.prd-5 {margin-bottom: 15px;  color:#fc8210; }
.prd-5:hover {color:#ff5200; }



.car-color {background-color:#f9c49a;}
.car-color:hover { background-color:#fc8210; }

#pricing {padding:20px 100px 20px 100px;background-color:#fc8210;}
.price_intro {font-size:1.5rem; font-weight:500; padding-top:20px; padding-bottom:10px;color:#ffff; }
.card {margin:15px auto 15px auto;}
.card-header {text-align:center; background-color:#e4e4e4; color:#fc8210;}
.card-body {background-color:#f7f7f7;}
.bt-pr {color:#fc8210; border-color:#fc8210; font-weight:500; text-decoration:none;}
.bt-pr:hover {color:#ffff; border-color:#fc8210; background-color:#fc8210; text-decoration:none;}

/* This CC snipped is for section All_products

.span1 {margin:20px auto; height:auto; width:auto;}

.col1{height:250px; width:250px; margin:20px auto;}
.col2{height:250px; width:250px; background-color:grey; margin:20px auto;}
.col3{height:250px; width:250px; background-color:grey; margin:20px auto;}
.col4{height:250px; width:250px; background-color:grey; margin:20px auto;}

.a1{height:100px; width:100px; position:relative; z-index:2;}
.a2{height:100px; width:100px; position:relative; top:-50px; left:50px;  z-index:1;}
.a3{height:100px; width:100px; position:relative;  bottom:100px; left:100px;  z-index:0;}

.fit-image{width:100%; object-fit:cover; height:auto;}
.a1:hover {height:110px; width:110px; position:relative; z-index:5;}
.a2:hover {height:110px; width:110px; position:relative; top:-50px; left:50px;  z-index:5;}
.a3:hover {height:110px; width:110px; position:relative;  bottom:100px; left:100px;  z-index:5;}

*/
#cta {margin:5px auto 5px auto;}
.advertise {padding:50px 0 40px 0; text-align:center; background-color:#f7f7f7;}
h3 {padding:30px 0 40px 0; font-family:'Montserrat', sans-serif; font-weight:bolder; color:#fc8210;}
h3:hover {color:#ff5200; }
.bt-sty1 {margin:0 5px 50px 5px; color:#fc8210; outline-color:#fc8210; border-color:#fc8210; }
.bt-sty1:hover {margin:0 5px 50px 5px; background-color:#fc8210; color:#ffff; border-color:#fc8210; }

#footer {padding:5% 15%; background-color:#fc8210; text-align:center; color:#ffff; }
.f1 {margin:10px 15px; color:#ffff;}
.f1:hover {margin:10px 15px; color:#e4e4e4; font-size: 130%; transition-timing-function:ease-in-out; transition-delay:0.3s; }
.f2 {margin-top:20px;}
